body {
    background-color: lightsalmon;
    color: #fff;
    text-align: center;
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #e2907b;
}

.headerText{
    text-align: center;
    font-size: 40px;
    color: #dfe525;
}